services:
  playwright:
    image: hawes-playwright-image
    container_name: playwright
    volumes:
      - ./:/workspace
    environment:
      - HOME=/workspace
      - PLAYWRIGHT_BASE_URL=https://192.168.68.58:443/
    command: ["npx", "playwright", "test"]